body {
    margin: auto;
    text-align: center;
    font-family: serif;
    background-color: #cce6ff;
    font-size: large;
}

h1 {
    color: #004280;
}

h2, h3 {
    color: #0069cc;
}

p {
    color: #0770d2;
}

.error {
    color: #cc0000;
}

a {
    color: #0c98dd;
}

a:hover {
    color: #000aa7;
}

textarea {
    color: #2080d9;
    background-color: #cce6ff;
}

input[type=text], input[type=submit], input[type=password] {
    color: #038ae5;
    background-color: #cce6ff;
}

input[type=submit]:hover {
    color: #000aa7;    
}

form {
    color: #1a90ff
}

hr {
    color: #9fcbf5;
}
