{% extends "layout.html" %}
{% block title %}WeTalk{% endblock %}
{% block content %}
<title>create_group</title>
<h1>Create a group</h1>

<p class="error">
    {% if errors %}
        OOPS! <br>
    {% endif %}
    {% if 1 in errors %}
        Groupname has to be 2-20 characters. <br>
    {% endif %}
    {% if 2 in errors %}
        This groupname is already taken. <br>
    {% endif %}
    {% if 3 in errors %}
        Spaces aren't allowed in groupname. <br>
    {% endif %}
</p>

<p>
    <form action="/create_group" method="POST">
    Group name: <input type="text" name="group_name"><br>
    <input type="submit" value="Create">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>
</p>
{% endblock %}