<title>Front_page</title>
<h1>Front page</h1>

<h2><b>WeTalk</b></h2>
Hello {{ session.name }}! <br>

<p>
    Welcome to WeTalk! <br>
    Here you can talk with friends privately and <br>
    in different groups :)
</p>
<p><a href="/profile">Profile</a></p>
<p><a href="/create_group">Create a new group</a></p>

<form action="/join" method="POST">
    Join a group: <input type="text" name="group_name" value="group name">
    <input type="submit" value="Join">
</form>
<hr>
{% for group in group_list %}
<a href="/group_page/{{ group[0] }}">{{ group[1] }}</a>
<hr>
{% endfor %}
