<title>Group_page</title>
<h1>Group page</h1>

<b>{{ group_name }}</b><br>

<a href="/">To the Front page</a><br>
{% if member %}
<a href="/send/{{ group_id }}/">Send a message</a><br>

<p>Number of messages: {{ count }}</p>

<hr>
{% for message in messages %}
<p>
    Sent by: {{ message[0] }} <br>
    At: {{ message[2].strftime("%m-%d %H:%M") }} <br>
    Message: {{ message[1] }}</p>
<hr>
{% endfor %}
{% endif %}

{% if not member %}
<a href="/join/{{ group_id }}/">Join the group</a>
{% endif %}