{% extends "layout.html" %}
{% block title %}WeTalk{% endblock %}
{% block content %}
<title>Group_page</title>
<h1>Group page</h1>

<h2>{{ group_name }}</h2>

{% if admin %}
    <a href="/delete_group/{{ group_id }}/">Delete group</a><br>
{% endif %}
{% if member %}
    <a href="/group_send/{{ group_id }}/">Send a message</a><br>

<p>Number of messages: {{ count }}</p>
<hr>
{% for message in messages %}
<p>
    <b>Sent by: </b> {{ message[0] }} <br>
    <b>At: </b> {{ message[2].strftime("%m-%d %H:%M") }} <br>
    <b>Message: </b> {{ message[1] }} <br>
    {% if admin %}
        <a href="/delete_message/{{ message[3] }}">Delete message</a>
    {% endif %}
</p>
<hr>
{% endfor %}
{% endif %}

{% if not member %}
    You are not a member of this group. <br>
    To see or messages in the group: <br>
    <a href="/join/{{ group_id }}/">Join the group</a>
{% endif %}
{% endblock %}