{% extends "layout.html" %}
{% block title %}WeTalk{% endblock %}
{% block content %}
<h1>WeTalk</h1>

{% if session.user_id %}
Hello {{ session.name }}! <br>
<p><a href="/profile">Profile</a></p>
<p><a href="/create_group">Create a new group</a></p>
{% endif %}
<p>
    Welcome to WeTalk! <br>
    Here you can talk with friends privately and <br>
    in different groups :)
</p>

<h3>Groups:</h3>
<hr>
{% for group in group_list %}
{% if session.user_id %}
<a href="/group_page/{{ group[0] }}">{{ group[1] }}</a>
{% endif %}
{% if not session.user_id %}
{{ group[1] }}
{% endif %}
<hr>
{% endfor %}
{% endblock %}