{% extends "layout.html" %}
{% block title %}WeTalk{% endblock %}
{% block content %}
<h1>WeTalk</h1>

{% if session.user_id %}
<h2>Hello {{ session.name }}! </h2>
<p><a href="/profile">Profile</a></p>
<p><a href="/create_group">Create a new group</a></p>
{% endif %}
<p>
    Welcome to WeTalk! <br>
    Here you can talk with friends :) <br>
    {% if session.user_id %}
        You can create new groups and <br>
        chat with other users from their user page. <br>
        From the front page you can see lists of groups, <br>
        users and chats you have with others.
    {% else %}
        Log in to access groups and users' pages, <br>
        and to create and chat with other users.
    {% endif %}
</p>

<h3>Groups:</h3>
<hr>
{% for group in group_list %}
{% if session.user_id %}
    <a href="/group_page/{{ group[0] }}">{{ group[1] }}</a>
{% endif %}
{% if not session.user_id %}
    {{ group[1] }}
{% endif %}
<hr>
{% endfor %}

{% if session.user_id %}
<h3>Chats:</h3>
<hr>
{% for conv in conv_list %}
    <a href="/conv/{{ conv[0] }}">{{ conv[1] }}</a>
<hr>
{% endfor %}
{% endif %}

<h3>Users:</h3>
<hr>
{% for user in user_list %}
{% if session.user_id %}
    <a href="/user/{{ user[0] }}">{{ user[1] }}</a>
{% endif %}
{% if not session.user_id %}
    {{ user[1] }}
{% endif %}
<hr>
{% endfor %}

{% endblock %}