{% extends "layout.html" %}
{% block title %}WeTalk{% endblock %}
{% block content %}
<title>Register</title>
<h1>Register</h1>
<p>
    Create an unique username and a password :) <br>
    These will be used to log in in the future! <br>
    If you already have registered, you can <br>
    log in from the link on the top of this page.
</p>
<p>
    Username and password has to contain 2-20 characters, <br>
    spaces aren't allowed
</p>
<form action="/register" method="POST">
    Username: <input type="text" name="name" required> <br>
    Password: <input type="password" name="password1" required> <br>
    Repeat password: <input type="password" name="password2" required> <br>
    <input type="submit" value="Register">
</form>
{% endblock %}