{% extends "layout.html" %}
{% block title %}WeTalk{% endblock %}
{% block content %}
<title>user_page</title>
<h1>User page</h1>

<h2>{{ name }}</h2>

<p>
{% if conv_id %}
    <a href="/conv/{{ conv_id }}">Your conversation with {{ name }}</a>
{% endif %}
{% if not conv_id %}
    <a href="/create_conv/{{ user_id }}">Create conversation with {{ name }}</a>
{% endif %}
</p>

<span style="color:#000aa7"> 
    <b>They're in groups:</b><br>
</span>
{% for group in group_list %}
<hr>
    <a href="/group_page/{{ group[0] }}">{{ group[1] }}</a>
{% endfor %}

{% endblock %}